{
  "presets": [
    [
      "env",
      {
        "es2015": {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions", "android >= 4.4", "not dead"]
          }
        }
      }
    ],
    "stage-0"
  ],
  "plugins": ["transform-runtime"]
}

